<tr class="investment_<%= investment.id %>">
  <td class="investment text-right"><%= investment.item %></td>
  <td class="investment text-right"><%= "¥" + number_with_delimiter(investment.price) %></td>
  <td class="investment text-right"><%= investment.yield.to_s  + "％" %></td>
  <td class="investment text-right"><%= investment.year.to_s + "年" + investment.month.to_s + "ヶ月" %></td>
  <td class="investment text-right"><%= link_to "ー", investment ,method: :delete, remote: true, class: "btn btn-outline-danger rounded-circle btn-sm investment-delete" %></td>
</tr>
