<div class="income-contents">
  <div class="container bg-light p-3">
    <div class="row">

      <!-- 収入 入力エリア -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-success">
            <h3 class="card-title">収入</h3>
            <p class="card-category">毎月の収入を整理しよう</p>
          </div>
          <div class="card-body">
            <%= form_for income, html: {class: 'form js_form'} do |f| %>
            <div class="form-group">
              <%= f.label :item, "収入項目" %>
              <%= f.text_field :item, class: "form-control form_textfield js-form_text-field", id: "income-item" %>
            </div>
            <div class="form-group">
              <%= f.label :income_amount, "収入金額" %>
              <%= f.number_field :income_amount, class: "form-control form_textfield js-form_text-field", id: "income-price" %>
            </div>
              <%= f.hidden_field :user_id, :value => current_user.id ,id: "income-userid" %>
              <%= f.submit "登録", class: "btn btn-muted form_submit_income js-submit" %>
            <% end %>
            <ul class="incomes">

            </ul>
          </div>
        </div>
      </div>

      <!-- 収入 一覧表示エリア -->
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-success">
            <h3 class="card-title">収入一覧/合計</h3>
          </div>
          <div class="card-body">
            <!-- 収入一覧 -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-right">収入項目</th>
                    <th class="text-right">収入金額</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="incomes">
                  <%= render @incomes %>
                    <!-- ※ Ajaxの更新値が挿入される -->
                </tbody>
              </table>
            </div>
            <div class="income-summary">
              <h3 class="text-right">収入計(/月)：￥<span id="income-total"><%= number_with_delimiter(@incomes.sum { |hash| hash[:income_amount]}) %></span></h3>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
