<!DOCTYPE html>
<html>
  <head>
    <title>Melight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- ナビゲーションバー -->
    <%= render 'layouts/flash_messages' %>
    <%= render 'layouts/navbar' %>

    <main>
      <%= yield %>
    </main>

    <!-- フッター -->
    <footer>

    </footer>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <!-- <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script> -->
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="js/popper.min.js"></script> -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
  <!-- MDB core JavaScript -->
  <!-- <script type="text/javascript" src="js/mdb.min.js"></script> -->

  </body>
</html>
