<!DOCTYPE html>
<html>
  <head>
    <title>Melight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- ナビゲーションバー -->
    <%= render 'layouts/flash_messages' %>
    <%= render 'layouts/navbar' %>

    <main>
      <%= yield %>
    </main>

    <!-- フッター -->
    <footer class="bg-dark">
      <div class="container py-3">
        <div class="row">
          <div class="col-md-12 text-center text-white">
            <p class="mb-0">© 2018 MeLight. All rights reserved</p>
          </div>
        </div>
      </div>
    </footer>


  </body>
</html>
