<!DOCTYPE html>
<html>
  <head>
    <title>Melight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- ナビゲーションバー -->
    <%= render 'layouts/flash_messages' %>
    <%= render 'layouts/navbar' %>

    <main>

      <%= yield %>
    </main>

    <!-- フッター -->
    <footer>

    </footer>
  </body>
</html>
